<div class="row custom-mt-4rem">
    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
        <div class="d-flex flex-column custom-mt-sm-2rem">
            <h3 class="custom-mb-2rem font-weight-bold mx-auto d-block custom-text-title">{{'Alta de Base del Cliente' | translate }}</h3>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <div>
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-label>{{"N° Base" | translate}}</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-label>{{"Nombre de la base" | translate}}*</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-label>{{"Cliente" | translate}}*</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column custom-mt-2rem">
            <h3 class="custom-mb-2rem font-weight-bold mx-auto d-block custom-text-title">{{"Estatus" | translate }}</h3>
            <div class="card">
                <div class="card-body">
                    <div class="custom-toggle-group">
                        <span>{{'Active' | translate }}</span>
                        <mat-slide-toggle></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
        <div class="d-flex flex-column custom-mt-sm-2rem">
            <h3 class="custom-mb-2rem mx-auto font-weight-bold d-block custom-text-title">{{"Ubicación de la Base" | translate }}</h3>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <div>
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-label>{{"Calle" | translate}}*</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-label>{{"Nº Exterior" | translate}}*</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-label>{{"Nº Interior" | translate}}*</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-label>{{"Estado" | translate}}*</mat-label>
                                <input matInput />
                            </mat-form-field>
                          
                        </div>
                        <div>
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-label>{{"Código Postal" | translate}}*</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-label>{{"Ciudad/Municipio" | translate}}*</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-label>{{"Colonia" | translate}}*</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-mt-sm-2rem col-lg-4 col-xl-4 col-md-4 col-sm-12">
     <div class="d-flex flex-column">
            <h3 class="custom-mb-3rem mx-auto d-block custom-text-title">{{"Datos contacto Base" | translate }}</h3>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <div>
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-label>{{"Nombre(s)" | translate}}*</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                        <div>   
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-label>{{"Apellidos Paterno" | translate}}*</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-label>{{"Apellidos Paterno" | translate}}*</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-label>{{"Telefono" | translate}}*</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="mat-form-field-fluid">
                                <mat-label>{{"Correo electronico" | translate}}*</mat-label>
                                <input matInput />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex custom-mt-2rem justify-content-end">
    <button class="btn btn-primary custom-mr-2rem">{{"Guardar" | translate }}</button>&nbsp;&nbsp;
    <button class="btn btn-outline-primary">{{"Cancelar" | translate}}</button>
</div>