<ng-container *ngIf="user$ | async as _user">
    <div class="topbar-item" data-placement="bottom">
        <div class="btn btn-icon w-auto btn-clean d-flex align-items-center btn-lg px-2">
            <ng-container *ngIf="greeting">
                <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Hola,</span>

            </ng-container>
            <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">
          {{_user.fullname}}
		</span>
        </div>

    </div>

</ng-container>