<div>
    <form [formGroup]="BasesForm">
        <div class="row custom-mt-4rem">
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                <div class="d-flex flex-column custom-mt-sm-2rem">
                    <h3 class="custom-mb-2rem font-weight-bold mx-auto d-block custom-text-title">{{'Alta de Base del cliente' | translate }}</h3>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column">
                                <div>
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-label>{{"N° Base" | translate}}</mat-label>
                                        <input matInput disabled> {{nextNumberBase}}
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-label>{{"Nombre de la base" | translate}}*</mat-label>
                                        <input formControlName="baseName" matInput />
                                        <mat-error>Ingresa el nombre
                                            <strong>correctamente</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-label>{{"Número de Cliente" | translate }}*</mat-label>
                                        <input type="text" formControlName="clientNumber" matInput [matAutocomplete]="auto">
                                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                            <mat-option *ngFor="let numb of allNumbers" [value]="numb.contactName">
                                                {{numb.contactName}} {{numb.contactSurname}} {{numb.contactLastname}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                    <!-- <form [formGroup]="stateForm">
                                        <mat-form-field>
                                            <mat-label>{{"Número de Cliente" | translate }}*</mat-label>
                                            <input type="text" matInput placeholder="Numero de Cliente" formControlName="clientNumber" required [matAutocomplete]="autoGroup" />
                                            <mat-autocomplete #autoGroup="matAutocomplete">
                                                <mat-option *ngFor="let numb of allNumbers" [value]="numb">
                                                    {{numb.clientNumber}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </form> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="d-flex flex-column custom-mt-2rem">
                    <h3 class="custom-mb-2rem font-weight-bold mx-auto d-block custom-text-title">{{"Estatus" | translate }}</h3>
                    <div class="card">
                        <div class="card-body">
                            <div class="custom-toggle-group">
                                <span>{{'Activo' | translate }}</span>
                                <span _ngcontent-apk-c153="" class="switch switch-icon"><label _ngcontent-apk-c153=""><input _ngcontent-apk-c153="" checked type="checkbox" name="builder[header][self][fixed][desktop]" value="true" class="ng-valid ng-dirty ng-touched"><span _ngcontent-apk-c153=""></span></label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="d-flex flex-column custom-mt-2rem">
                    <h3 class="custom-mb-2rem mx-auto d-block custom-text-title">{{"Estatus" | translate }}</h3>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <label>Activo</label>
                                <mat-slide-toggle [(ngModel)]="ischecked" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                <div class="d-flex flex-column custom-mt-sm-2rem">
                    <h3 class="custom-mb-2rem mx-auto font-weight-bold d-block custom-text-title">{{"Ubicación de la Base" | translate }}</h3>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column">
                                <div>
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-label>{{"Calle" | translate}}*</mat-label>
                                        <input formControlName="street" matInput />
                                        <mat-error>Ingresa la calle
                                            <strong>correctamente</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-label>{{"Nº Exterior" | translate}}*</mat-label>
                                        <input formControlName="exteriorNumber" matInput />
                                        <mat-error>Ingresa el número exterior
                                            <strong>correctamente</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-label>{{"Nº Interior" | translate}}*</mat-label>
                                        <input formControlName="interiorNumber" matInput />
                                        <mat-error>Ingresa el número interior
                                            <strong>correctamente</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-label>{{"Estado" | translate}}*</mat-label>
                                        <input formControlName="state" matInput />
                                        <mat-error>Ingresa el estado de cliente
                                            <strong>correctamente</strong>
                                        </mat-error>
                                    </mat-form-field>

                                </div>
                                <div>
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-label>{{"Código Postal" | translate}}*</mat-label>
                                        <input formControlName="zipCode" matInput />
                                        <mat-error>Ingresa el código postal
                                            <strong>correctamente</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-label>{{"Ciudad/Municipio" | translate}}*</mat-label>
                                        <input formControlName="city" matInput />
                                        <mat-error>Ingresa la ciudad de cliente
                                            <strong>correctamente</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-label>{{"Colonia" | translate}}*</mat-label>
                                        <input formControlName="neighborhood" matInput />
                                        <mat-error>Ingresa la colonia de cliente
                                            <strong>correctamente</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                <div class="d-flex flex-column custom-mt-sm-2rem">
                    <h3 class="custom-mb-2rem mx-auto font-weight-bold d-block custom-text-title">{{"Datos contacto Base" | translate }}</h3>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column">
                                <div>
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-label>{{"Nombre(s)" | translate}}*</mat-label>
                                        <input formControlName="contactName" matInput />
                                        <mat-error>Ingresa el nombre de cliente
                                            <strong>correctamente</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-label>{{"Apellido Paterno" | translate}}*</mat-label>
                                        <input formControlName="contactSurname" matInput />
                                        <mat-error>Ingresa el apellido de cliente
                                            <strong>correctamente</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-label>{{"Apellido Materno" | translate}}*</mat-label>
                                        <input formControlName="contactLastname" matInput />
                                        <mat-error>Ingresa el apellido de cliente
                                            <strong>correctamente</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-label>{{"Teléfono" | translate}}*</mat-label>
                                        <input formControlName="contactPhone" matInput />
                                        <mat-error>Ingresa el teléfono
                                            <strong>correctamente</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field class="mat-form-field-fluid">
                                        <mat-label>{{"Correo electrónico" | translate}}*</mat-label>
                                        <input formControlName="contactEmail" matInput />
                                        <mat-error>Ingresa el correo electrónico
                                            <strong>correctamente</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex custom-mt-2rem justify-content-end">
            <button class="btn btn-primary custom-mr-2rem" (click)="onSumbit(false)">{{"Guardar" | translate }}</button>&nbsp;&nbsp;
            <button class="btn btn-outline-primary" (click)="back()">{{"Cancelar" | translate}}</button>
        </div>
    </form>
</div>