<div class="row custom-mt-4rem">
    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
        <div class="d-flex flex-column custom-mt-sm-2rem">
            <h3 class="custom-mb-2rem font-weight-bold mx-auto d-block custom-text-title">{{'Alta de Base del Client' | translate }}</h3>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <div>
                            <div class="custom-text-group">
                                <span>{{"N° Base" | translate}}</span>
                                <p>C100001</p>
                            </div>
                        </div>
                        <div>
                            <div class="custom-text-group">
                                <span>{{'Nombre de la base' | translate }}</span>
                                <p>Sánchez</p>
                            </div>
                        </div>
                        <div>
                            <div class="custom-text-group">
                                <span>{{"Cliente" | translate }}</span>
                                <p>Pérez</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column custom-mt-2rem">
            <h3 class="custom-mb-2rem font-weight-bold mx-auto d-block custom-text-title">{{"Estatus" | translate }}</h3>
            <div class="card">
                <div class="card-body">
                    <div class="custom-toggle-group">
                        <span>{{'Active' | translate }}</span>
                        <mat-slide-toggle></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
        <div class="d-flex flex-column custom-mt-sm-2rem">
            <h3 class="custom-mb-2rem mx-auto font-weight-bold d-block custom-text-title">{{"Ubicación de la Base" | translate }}</h3>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <div>
                            <div class="custom-text-group">
                                <span>{{'Calle' | translate }}</span>
                                <p>Domicilio 01</p>
                            </div>
                        </div>
                        <div>
                            <div class="custom-text-group">
                                <span>{{"Nº Exterior" | translate }}</span>
                                <p>2001</p>
                            </div>
                        </div>
                        <div>
                            <div class="custom-text-group">
                                <span>{{"Nº Interior" | translate }}</span>
                                <p>13B</p>
                            </div>
                        </div>
                        <div>
                            <div class="custom-text-group">
                                <span>{{"Código Postal" | translate }}</span>
                                <p>100000</p>
                            </div>
                        </div>
                        <div>
                            <div class="custom-text-group">
                                <span>{{"Colonia" | translate }}</span>
                                <p>100000</p>
                            </div>
                        </div>
                        <div>
                            <div class="custom-text-group">
                                <span>{{"Estado" | translate }}</span>
                                <p>100000</p>
                            </div>
                        </div>
                        <div>
                            <div class="custom-text-group">
                                <span>{{"Ciudad/Municipio" | translate }}</span>
                                <p>100000</p>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-mt-sm-2rem col-lg-4 col-xl-4 col-md-4 col-sm-12">
     <div class="d-flex flex-column">
            <h3 class="custom-mb-3rem mx-auto d-block custom-text-title">{{"Datos contacto Base" | translate }}</h3>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <div>
                            <div class="custom-text-group">
                                <span>{{"Nombre(s)" | translate }}</span>
                                <p>Jaime</p>
                            </div>
                        </div>
                        <div>
                            <div class="custom-text-group">
                                <span>{{"Apellidos Paterno" | translate }}</span>
                                <p>Sánchez</p>
                            </div>
                        </div>
                        <div>
                            <div class="custom-text-group">
                                <span>{{"Apellidos Paterno" | translate }}</span>
                                <p>Pérez</p>
                            </div>
                        </div>
                        <div>
                            <div class="custom-text-group">
                                <span>{{"Telefono" | translate }}</span>
                                <p>477&nbsp;123&nbsp;4567</p>
                            </div>
                        </div>
                        <div>
                            <div class="custom-text-group">
                                <span>{{"Correo electronico" | translate }}</span>
                                <p>abcd@abcd.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex custom-mt-2rem justify-content-end">
    <button class="btn btn-outline-primary">{{"Regresar" | translate}}</button>
</div>